@model  List<CloudApp.Data.Model.CItemTheme>
@{

}


<div class="rightpanel">

    @Html.Partial("../Shared/_BreadCrumbs", (List<CloudApp.Data.ViewModel.ViewBreadCrumb>)ViewBag.BreadCrumbList)

    <div class="pageheader">

        <div class="pageicon"><span class="iconfa-laptop"></span></div>
        <div class="pagetitle">
            <h5>Temalar</h5>
            <h1>Tema Görüntüle</h1>
        </div>
    </div><!--pageheader-->

    <div class="maincontent">
        <div class="maincontentinner">

            <nav class="navbar navbar-default" role="navigation">
                <div class="form-group" style="margin-top:6px;">
                    <label for="firstname" class="col-md-2 control-label">Tema Tipi</label>
                    <div class="col-md-10">
                        <select name="ThemeType" id="ThemeType" class="form-control select-inline">
                            <option value="0">Tüm Temalar</option>
                            @foreach (var item in Enum.GetValues(typeof(CloudApp.Data.Enum.EItemTheme)))
                            {
                                <option value="@((int)item)">@item.ToString()</option>
                            }
                            @*<option value="0">Üst Kategori</option>*@
                        </select>
                    </div>
                </div>



            </nav>
            <h4 class="widgettitle">Liste</h4>
            <table class="table table-bordered responsive">
                <thead>
                    <tr>
                        @*<th class="centeralign"><input type="checkbox" class="checkall" /></th>*@
                        <th>Kimlik</th>
                        <th>Tema İsmi</th>
                        <th>Tema Yolu</th>
                        <th>Tema Tipi</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td class="centeralign"><input type="checkbox" /></td>*@

                            <td style="vertical-align:middle"> @item.Id</td>
                            <td style="vertical-align:middle">@item.Name</td>
                            <td style="vertical-align:middle"> @item.ThemePath </td>
                            <td style="vertical-align:middle"><span class="label label-info"> @item.ThemeType.ToString() </span></td>
                            <td class="centeralign" style="vertical-align:middle"><a href="/blog/Admin/ItemTheme/Insert/@item.Id" class="deleterow"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="centeralign" style="vertical-align:middle"><a style="cursor:pointer;" onclick="return ConfirmButton('Silme Onayı', 'Modül Temasını Kaldırmak Üzeresiniz. Onaylıyor musunuz ?',@item.Id,'module' )" class="deleterow"><span class="glyphicon glyphicon-trash"></span></a></td>
                            @*<td style="vertical-align:middle"><a style="color:white;" href="/blog/Admin/Category/GetCategory/?Id=@item.Id&page=1" class="btn btn-primary">@item.SubCategory.Count</a> </td>
                                <td style="vertical-align:middle"><a class="btn btn-primary">@item.Texts.Count</a></td>
                                <td class="centeralign" style="vertical-align:middle"><a href="/blog/Admin/Category/InsertCategory/@item.Id" class="deleterow"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td class="centeralign" style="vertical-align:middle"><a style="cursor:pointer;" onclick="return ConfirmButton('Silme Onayı', 'İçeriği kaldırırsanız. Bunu altındaki içeriklere ulaşamazsını. Onaylıyor musunuz ?',@item.Id,'cat' )" class="deleterow"><span class="glyphicon glyphicon-trash"></span></a></td>*@
                        </tr>

                    }

                </tbody>
            </table>


            @Html.Partial("../Shared/_ListPaging", new CloudApp.Data.ViewModel.PagingModel { TotalCount = Convert.ToInt32(ViewBag.ListCount), CurrentPage = Convert.ToInt32(ViewBag.CurrentPage) })

            @Html.Partial("../Shared/_Footer")
            <!--footer-->

        </div><!--maincontentinner-->
    </div><!--maincontent-->

</div><!--rightpanel-->

@section scripts{
    <script>
    $(document).ready(function () {

        $('#ThemeType').change(function () {
            var id = this.value;
            window.location.href="/blog/Admin/ItemTheme/Index/?Id="+id + "&page=1";
        });
        $('#ThemeType').val(getParameterByName('Id'));
    });
    </script>
}