@model List<CloudApp.Data.Model.CForm>
@{

}


<div class="rightpanel">

    @*@Html.Partial("../Shared/_BreadCrumbs", (List<CloudApp.Data.ViewModel.ViewBreadCrumb>)ViewBag.BreadCrumbList)*@

    <div class="pageheader">

        <div class="pageicon"><span class="iconfa-laptop"></span></div>
        <div class="pagetitle">
            <h5>Formlar</h5>
            <h1>Formları Görüntüle</h1>
        </div>
    </div><!--pageheader-->

    <div class="maincontent">
        <div class="maincontentinner">


            <h4 class="widgettitle">Liste</h4>
            <table class="table table-bordered responsive">
                <thead>
                    <tr>
                        <th>Kimlik</th>
                        <th>Form İsmi</th>
                        <th>Form Değerleri</th>
                        <th>Form Görünen Değerleri</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td style="vertical-align:middle"> @item.Id</td>
                        <td style="vertical-align:middle">@item.Name</td>
                        <td style="vertical-align:middle"> @item.Properties </td>
                        <td style="vertical-align:middle"> @item.ViewProperties </td>
                        <td class="centeralign" style="vertical-align:middle"><a href="/blog/Admin/Form/CreateForm/@item.Id" class="deleterow"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="centeralign" style="vertical-align:middle"><a style="cursor:pointer;" onclick="return ConfirmButton('Silme Onayı', 'Formu Kaldırmak Üzeresiniz. Onaylıyor musunuz ?',@item.Id,'form' )" class="deleterow"><span class="glyphicon glyphicon-trash"></span></a></td>
                        <td class="centeralign" style="vertical-align:middle"><a href="/blog/Admin/Form/FormList/@item.Id?page=1" class="deleterow"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    </tr>

                    }

                </tbody>
            </table>


            @Html.Partial("../Shared/_ListPaging", new CloudApp.Data.ViewModel.PagingModel { TotalCount = Convert.ToInt32(ViewBag.ListCount), CurrentPage = Convert.ToInt32(ViewBag.CurrentPage) })

            @Html.Partial("../Shared/_Footer")
            <!--footer-->

        </div><!--maincontentinner-->
    </div><!--maincontent-->

</div><!--rightpanel-->
@section scripts{

}